<multiform id="error-group-html">
	<ul class="error-group">
%s
	</ul> 
</multiform>


<multiform id="error-item-html">
		<li>%s
</multiform>




<multiform id="error-group-text">
%s 
</multiform>


<multiform id="error-item-text">
%s
</multiform>


<multiform id="error-message">
	%s
</multiform>

<multiform id="error-message-table-row">
	<tr>
		<td colspan="%d" class="%s">
			%s
		</td>
	</tr>
</multiform>

<multiform id='admin-area-error'>
	<div id='toolbar' class='error-group'>
		%s
	</div>
</multiform>